<p>add works!</p>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Agregar personas</h3>
        </div>
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" #nombre class="form-control">
            </div>
            <div class="form-group">
                <label for="">Apellidos:</label>
                <input type="text" #apellidos class="form-control">
            </div>
            <button (click)="Guardar(nombre,apellidos)" class="btn btn-danger">Guardar</button>
        </form>
    </div>
</div>